@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Krona One', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    @apply font-base text-dark;
}

.search {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
        'sidebar results'
        'sidebar results';
}

.search .sidebar {
    grid-area: sidebar;
}

.search .results {
    grid-area: results;
}
